<table>
  <thead>
    <tr>
      <th>Email Address</th>
      <th>Verified</th>
    </tr>
  </thead>
  <tbody>
      <% @user.each do |user| %>
        <tr>
          <td><%= user.email %></td>    
          <td><%= user.is_verified %></td>
          <td>
            <%= button_to "Verify", admins_verify_path(user: { email: user.email }), method: :post %>
          </td>
        </tr>
      <% end %>
  </tbody>

</table>










