<div class="layout-pages">
<h1>Registered Accounts</h1>
<table>
  <thead>
    <tr>
      <th class="layout-table-head" style="width:10vw;"><p>Email Address</p></th>
      <th class="layout-table-head"><p>Verified</p></th>
      <th class="layout-table-head"><p>Admin</p></th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td style="text-align:left; padding: 10px 10px"><a href="<%= admins_user_view_path(user) %>"><%= user.email %></a></td>
        <td><%= user.is_verified %></td>
        <td><%= user.is_admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>