.notice {
    display: flex;
    height: 8vh;
    width: 70%;
    color: rgb(10, 70, 10);
    background-color: rgb(100, 230, 100);
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 500;

    opacity: 0;
    position: absolute;
    animation: appear-disappear 2s ease-in-out;
}

.alert {    
    display: flex;
    height: 8vh;
    width: 70%;
    color: rgb(143, 21, 21);
    background-color: rgb(255, 150, 150);
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: 500;

    opacity: 0;
    position: absolute;
    animation: appear-disappear 2s ease-in-out;
}
  
  @keyframes appear-disappear {
    0% {        
        opacity: 0;
    }
    10% {        
        opacity: 1;
    }
    95%{        
        opacity: 1;
    }
    100% {        
        opacity: 0;
    }
  }
  
  
  